body
{
    margin: 0;
    padding: 0;
    color: #111;
    font: normal 14pt Lato,Arial,Helvetica,sans-serif;
    background: #333333;
}

.logoImg{
    /*height: 100%;*/
    /*width: 100%;*/
    /*margin: 7px 0px 13px;*/
}

#header{
    border-bottom: 1px solid #444;
    background: #345566;
}

.navbar-default {
    border: none;
    border-bottom: 1px solid #444;
    background-color: #345566;
}

#header .nav-pills{
    list-style: none;
    /*text-transform:lowercase;*/
    float: right;
    margin: 0px;
    padding: 0px;
}

#header span, #header .nav-pills a{
    /*line-height: 65px;*/
    /*font-weight: bold;*/
    border-radius: 0px;
}

#header .nav-pills li{
    float: right;
    margin-top: 25px;
}

.nav-pills > li > a{  
    color: #FFF;
    display: block;
    padding:1px 0px;
    /*font-weight: bold;*/
    text-decoration: none;
    margin: 0px 10px;
}


.nav > li > a {
    position: relative;
    display: block;
    padding: 35px 15px;
}
.navbar {
    margin-bottom: 0px;
}

.navbar-default .navbar-nav > li > a {
    color: #FFF;
}

.nav-pills > li > a:hover{
    color: #21B2D1;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #21B2D1;
    background-color: transparent;
    border-bottom: 3px solid #21B2D1;
}


.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #21B2D1;
    background-color: transparent;
    text-decoration: none;
    /*border-bottom: 3px solid #21B2D1;*/
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #21B2D1;
    background-color: transparent;
}



#page{
    background: #FFF;
    /*padding: 40px 0px 10px;*/
}

#footer{
    background-color: #333;
    color: #fff;
}

.footerText{
    /*font-size: 0.8em;*/
    padding: 30px 20px;
    text-align: center;
}

.screenshot img{
    width: 100%;
}

.introHeading{
    font-weight: normal;
    /*text-align: center;*/
    font-size: 1.5em;
    padding: 0px;
    margin: 0px 0px 20px;
    text-transform: uppercase;
}

.introText{
    /*text-align: center;*/
}

.desc{
    padding:20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #fff;
    margin-bottom: 20px;
}


.breadcrumbs{
    font-size: 0.8em;
    padding: 10px 20px;
    background: rgba(255,255,255,0.8);
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    margin-bottom: 10px;
}

/*.playStoreLink{
    padding-top: 20px;
}*/
.text-center{
    text-align: center;
}
.faqHeading{
    margin-bottom: 10px;
}

.faqBody{
    margin-bottom: 30px;
}
.help-block{
    font-size: 0.8em;
}

.text-danger{
    color: red;
    font-size: 0.8em;
}

.contactText{
    font-size: 0.8em;
    margin-bottom: 30px;
}

.btn-primary{
    background: #21B2D1;
}

a{
    color: #21B2D1;
}

#home { 
    background: url(../images/bg.jpg) 50% 0 fixed; 
    height: auto;  
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.9);
    padding: 40px 0;
}

.navbar-brand {
    padding: 10px 10px 15px;
    height: 85px;
}

.navbar-toggle {
    margin-top: 25px;
    margin-bottom: 25px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
}

.navbar-default .navbar-toggle {
    border-color: #FFF;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #444;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}